h1 {
  text-align: center
}

p {
  text-align: center;
  font-size: x-large;
  margin-top: 20px
}

.page-header {
  display: inline-flex;
  width: 100%;
}

.btn-success {
  margin-left: 25%;
}

.container {
  display: flex;
  width: 100%;
}

.headerTitle {
  width: 80%;
}

.flag {
  width: 10%;
  text-align: center;
}


.uploadButton {
  text-align: left;
}

.leftBox {
  width: 50%;
}

.label {
  text-align: left;
}

.rightBox {
  width: 50%;
  margin: auto;
  margin-left: 50px;
}

.checkButton {
  margin-right: 22px;
}

.tablePartial {
  width: 80%;
  margin-top: 20px;
}

.tableTotal {
  min-width: 400px;
}

.resultsList {
  width: 67%;
  margin-left: 100px;
}

.containerResults {
  display: flex;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
